<main class="py-3 py-md-5"
      [ngClass]="{
        'container':!settings.options().wideContainer,
        'container-fluid':settings.options().wideContainer,
        'wide-font': settings.options().wideFont
      }">
  <h1 class="text-center">Hunt Showdown : Challenge Tracker</h1>

  @for (event of events; track event.name; let eventIndex = $index) {
    @for (week of event.weeks; track week.number) {
      <app-week [week]="week" (weekChange)="onWeekUpdated($event, eventIndex, $index)"/>
    }
  }
  <router-outlet/>
</main>

<app-settings class="settings"/>
